# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\nichar0708.HIGHGATE1\OneDrive - Highgate School\_SIXTH FORM WOOOOOOOOOOOOOOOOOOOO\KING DALES\pycharm living in the future babbyy\student poo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
